*{margin: 0;padding: 0;list-style: none;text-decoration: none;font-family: Arial, Helvetica, sans-serif;box-sizing: border-box;color: #666666;box-sizing: border-box;}
.suave, .suave:hover{transition-duration: .2s;}
.click{cursor: pointer;}
.alertas{max-width: 300px;position: fixed;bottom: 32px;right: 32px;z-index: 100;text-align: right;}
.alerta{max-width: 300px;background:#333;color: white;padding: 16px;border-radius: 5px;margin-top: 16px;display: inline-block;opacity: 0;visibility: hidden;transition-duration: .2s;}
.alerta.active{opacity: 1;visibility: visible;}


