#notfound.base{width: 100%;height: 100vh;display: flex;justify-content: space-around;align-items: center;background-color: #070a1b;position: relative;}
#notfound h1{max-width: 400px;font-size: 200px;color: #FFFFFF;text-align: center;}
#notfound h1 span{color: transparent;-webkit-text-stroke: 1px #FFFFFF;}
#notfound h2{max-width: 400px;color: #FFFFFF;text-align: center;}
#notfound img{width: 500px;}
#notfound button{width: 100%;height: 50px;line-height: 50px;display: block;text-align: center;font-size: 12px;font-weight: bold;text-transform: uppercase;letter-spacing: 1px;border: 1px solid #1350bb;border-radius: 5px;background-color: transparent;position: relative;margin-top: 26px;}
#notfound button::before{content: "";width: 0;height: 100%;background-color: #1350bb;position: absolute;top: 0;left: 0;transition-duration: .2s;z-index: 1;}
#notfound button:hover::before{width: 100%;}
#notfound button span{color: #1350bb;position: relative;z-index: 1;}
#notfound button:hover span{color: #FFFFFF;}

@media only screen and (max-width: 600px){
    #notfound.base{flex-direction: column;}
    #notfound img{width: 70%;}
    #notfound h1{font-size: 100px;}
    #notfound h2{font-size: 18px;}
    #notfound button{width: 200px;margin-left: auto;margin-right: auto;}
}
